<div class="container w-50 mt-5  " style="color: blueviolet">
    <div class="container d-flex ">
        <div (click)="filterProducts('')" class="me-5 text-center">
            <a>
                <img style="height: 100px;width:150px;color:black ;" src="https://i.postimg.cc/VsbSZxSy/allproduct.jpg">
                <h5>All Products</h5>
            </a>

        </div>
        <div (click)="filterProducts(1)" class="ms-5 me-5 text-center">
            <a >
                <img style="height: 100px;width:100px;color:black ;" src="https://i.postimg.cc/8CddZsXX/sarees.jpg">
                <h5>Sarees</h5>
            </a>

        </div>
        <div (click)="filterProducts(2)" class="ms-5 me-5 text-center">
            <a >
                <img style="height: 100px;width:100px;color:black ;" src="https://i.postimg.cc/T36JgrC5/salwars.jpg">
                <h5>Salwars</h5>
            </a>

        </div>
        <div (click)="filterProducts(3)" class="ms-5 me-5 text-center">
            <a >
                <img style="height: 100px;width:100px;color:black ;" src="https://i.postimg.cc/MGjZwQJt/duppattas.jpg">
                <h5>Duppatas</h5>
            </a>

        </div>


    </div>
</div>

<!-- section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of filterProductsData | search: searchData:'productName'" class="col mb-5">
                <div class="card h-100" id="d">
                    <!-- Product image-->
                    <img class="card-img-top" style="height: 400px;" src={{i.productImage}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                           {{i.price}}Rs
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view/{{i.id}}">View</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
